body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #f8faff;
}

.container {
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    flex-direction: row; 
    justify-content: space-between; 
}


.sidebar {
    width: 280px;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    left: 5px;
    top: 0;
    padding-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-size: 24px;
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
} 

.search-sidebar {
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: fixed;
    right: 30px;
    top: 0;
    width: 280px;
    align-items: center;
}

.search-sidebar form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-input {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-input input.search-text {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    font-size: 18px;
}

.search-input button.search-button {
    padding: 12px;
    background-color: #1da1f2;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}

.search-input button.search-button i {
    margin-right: 5px;
}



.main-content {
    padding: 20px;
    margin-left: 300px; 
    margin-right: 300px;    
    width: calc(100% - 600px); 
    max-width: 700px; 
    box-sizing: border-box;
}



.sidebar li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sidebar a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #1da1f2;
    transition: background-color 0.3s ease-in-out;
}

.sidebar a.active {
    background-color: #e1f5fe; 
}



.risultati-ricerca {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.risultati-ricerca h3 {
    margin-bottom: 10px;
    color: #1da1f2;
}

.risultati-ricerca ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.risultati-ricerca li {
    padding: 10px;
    border-bottom: 1px solid #e1e8ed;
}

.risultati-ricerca li:last-child {
    border-bottom: none;
}

.risultati-ricerca a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.risultati-ricerca a:hover {
    text-decoration: underline;
}


