<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter - Profilo</title>
    <link rel="stylesheet" href="/profilo.css">
    <link rel="stylesheet" href="/common.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
      <div class="container">
        <div class="sidebar">
            <ul>
            
              <li><a href="/home"><i class="fas fa-home"></i> Home</a></li>
              <li><a href="/profilo" class="active"><i class="fas fa-user"></i> Profilo</a></li>    
        
                                
             </ul>
            
            
            <div class="user-info">
                <span id="logged-in-user" th:text="${utente.username}"></span>
            </div> 
            
               </div>
        
          
                       
    <div class="main-content">
        <div class="profilo-container">
            <div class="profilo-info">
                <h3>Informazioni Personali</h3>
                <p><strong>Nome:</strong> <span th:text="${utente.nome}"></span></p>
                <p><strong>Cognome:</strong> <span th:text="${utente.cognome}"></span></p>
                <p><strong>Email:</strong> <span th:text="${utente.email}"></span></p>
                
             
                
                         <!-- Bottone di Logout -->
            <form action="/logout" method="POST">
                <button type="submit" class="logout-button">Logout</button>
            </form>
        </div>
        
        
        
                <div class="follow-info">
                
                  <div class="following">
                    <span class="follow-count" th:text="${utente.utentes1.size()}"></span>
                 <a th:href="@{/profilo/{username}/following(username=${utente.username})}" class="follow-text">Following</a>
                </div>
            </div>
            
                
                <div class="followers">
                    <span class="follow-count" th:text="${utente.utentes2.size()}"></span>
                 <a th:href="@{/profilo/{username}/followers(username=${utente.username})}" class="follow-text">Followers</a>
                </div>
            </div>
                
                
        
        
                
                <!-- Lista dei tweet dell'utente -->
            <div class="user-tweets">
                <h3>Tweet di <span th:text="${utente.username}"></span></h3>
                <ul class="tweet-list">
                    <li th:each="tweet : ${utente.tweets}" class="tweet">
                        <div class="tweet-content">
                            <p th:text="${tweet.testo}"></p>
                        </div>
                        <div class="tweet-timestamp">
                            <span th:text="${#dates.format(tweet.dataOra, 'dd-MM-yyyy HH:mm')}"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        
         
          
               <div class="search-sidebar">
            <form action="/profilo" method="get">
                <div class="search-input">
                    <input type="text" class="search-text" name="query" placeholder="Cerca...">
                    <button type="submit" class="search-button">
                        <i class="fas fa-search"></i> Cerca
                    </button>
                </div>
            </form>
            
            <div th:if="${risultatiRicercaUtenti}"   class="risultati-ricerca">
               <h3>Risultati Utenti:</h3>
               <ul>
               <li th:each="utente : ${risultatiRicercaUtenti}">
               <a th:href="@{/profilo/{username}(username=${utente.username})}" th:text="${utente.username}">Profilo</a>     
               </li>
               </ul>
               </div>
               
               
        </div>
    
    
      
                      
</body>
</html>
