<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter - Home</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>
<body>
    <div class="container">
    
        <div class="sidebar">
            <ul>
                <li><a href="/home" class="active"><i class="fas fa-home"></i> Home</a></li>
                
                <li><a href="/profilo"><i class="fas fa-user"></i> Profilo</a></li>
            </ul>
                        
            <div class="user-info">
                <span id="logged-in-user" th:text="${username}"></span>
            </div>            
        </div>   
        
        

        <div class="main-content">
    <div class="header">
        <h2 class="header-title">Home</h2>
    </div>
    
    <div th:if="${errore}" class="error">
    <p th:text="${errore}"></p>
    </div>
    
      <div th:if="${successo}" class="success">
    <p th:text="${successo}"></p>
      </div>
    
   
    
    
    
    <div class="tweet-container">
        <div class="tweet-input-container">
            <form action="/home" method="POST" class="tweet-form">
                <textarea placeholder="Che c'è di nuovo?" class="tweet-input" name="content"></textarea> 
                
  <select name="hashtag" required>
    <option value="">Seleziona un hashtag</option>
    <!-- Itera attraverso gli hashtag nel modello e genera gli option -->
    <th:block th:each="hashtag : ${hashtags}">
        <option th:value="${hashtag.IDHashtag}" th:text="${hashtag.testo}"></option>
    </th:block>
   </select>

 <button type="submit" class="tweet-post-button">Posta</button>
                    </form>
                   </div>   
            

        <div class="tweet-list">
            <div th:each="tweet : ${timelineTweets}" class="tweet">
                <div class="tweet-user">
                    <span th:text="${tweet.utente.username}"></span>
                </div>
                <div class="tweet-content">
                    <p th:text="${tweet.testo}"></p>
                </div>
                
                <div class="tweet-content">
                     <span th:if="${tweet.hashtag != null}" th:text="${tweet.hashtag.testo}"></span>
                </div>
                
                <div class="tweet-timestamp">
                    <span th:text="${#dates.format(tweet.dataOra, 'dd-MM-yyyy HH:mm')}"></span>
                </div>
            </div>
        </div>
    </div>
</div>

        
        
           
        <div class="search-sidebar">
            <form action="/cerca" method="get">
                <div class="search-input">
                    <input type="text" class="search-text" name="query" placeholder="Cerca...">
                    <button type="submit" class="search-button">
                        <i class="fas fa-search"></i> Cerca
                    </button>
                </div>
                
                
                
            </form>
        </div>
    </div>
    
    

    <script src="script.js"></script>
</body>
</html>
